ion-content.background{
    --background: url(../../assets/img/tło5.png) 0 0/100% 100% no-repeat;
}
.my-menu .item, .my-menu .item-content, .my-menu .item-complex{
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
    }
img
{
    margin-top: 13vh;
}    
ion-item {
    --ion-background-color: transparent!important;
}
.padding1{
    padding: 0px;
    margin-top: 0px;
}
.padding2{
    padding-top: 2vh;
    padding-right: 4vh;
    padding-left: 4vh;
    margin-top: 2vh;
}
p{
    font-size: 14px;
    border: 0 0 0 0;
    color: black;
}