<ion-content padding class="background">
  
          <div padding-horizontal margin-bottom text-center class="animated fadeInDown" style="margin-bottom: 20px">
          <img src="assets/img/logo.png" style="height: 180px">
        </div>

<div class = "padding1" >

  <ion-item>
    <ion-label color= "dark" style="font-weight: 800;" position="floating">Email</ion-label>
    <ion-input color="dark"  [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating" style="font-weight: 800;" >Hasło</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

</div>

<div class = "padding2" >
  
  <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="loginClick()" ><p>Zaloguj</p></ion-button>
  <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="formRegister()"><p>Zarejestruj</p></ion-button>
  <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="loginAsGuest()" ><p>Zaloguj jako gość</p></ion-button>
  <ion-button color="secondary" expand="full"  fill="outline" shape="round" style=" margin-bottom: 12px;" (click)="loginWithFacebook()" ><ion-icon slot="end" name="logo-facebook"></ion-icon><p>Zaloguj przez Facebook</p></ion-button>

  
</div>

</ion-content>
