<ion-app>
  <ion-menu side="start" type="push" contentId="content1">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="light-grey">
        <ion-list>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="contact"></ion-icon>Moje konto</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="notifications"></ion-icon>Powiadomienia</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="bicycle"></ion-icon>Aktywność</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="bookmark"></ion-icon>Osiągniecia</ion-item>
          <ion-item (click)="toggleMenu()" [routerLink]="['/dashboard']" routerLinkActive="active-link"><ion-icon slot="end" name="star"></ion-icon>Ulubione trasy</ion-item>
          <ion-item (click)="logout()" [routerLink]="['']" routerLinkActive="active-link"><ion-icon slot="end" name="md-log-out"></ion-icon>Wyloguj</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>