<ion-content>  
  <ion-list class="bg-transparent">

    <ion-item-divider class="padding">
      <ion-label>
        <h4>STATYSTYKI PRZEJAZDÓW</h4>
      </ion-label>
    </ion-item-divider>
    
    <ion-item class="no-border">
      <ion-text class="ion-text-center">
        <h3>Witaj Jan!</h3>
      </ion-text>
      <ion-icon name="person-add" style="margin: auto; font-size: 100px;"></ion-icon>
    </ion-item>


    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center ibox2">
          <h3>Średnia prędkość: 21 km/h</h3>
        </ion-col>
        <ion-col size="12" class="ion-text-center ibox2">
          <h3>Przejechane kilometry: 19km</h3>
        </ion-col>
        <ion-col size="12" class="ion-text-center ibox2">
          <h3>Ukończone trasy: 7</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  
  </ion-list>

</ion-content>
