
<ion-content>  
  <ion-list> 

    <ion-item-divider>
      <ion-label>
        Sklepy rowerowe
      </ion-label>
    </ion-item-divider>

    <ion-item href="https://rowery24h.pl/">
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Super Bike Opole</h3>
        </ion-text>
        <ion-text>
          <p>Adres: Rzeszowska 3, 45-316 Opole</p>
          <p>Telefon:	77 455 19 22</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item href="http://salonrowerowy.pl/">
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Opolskie Centrum Rowerowe Sp. z o.o.</h3>
        </ion-text>
        <ion-text>
          <p>Adres: Głogowska 23C, 45-315 Opole</p>
          <p>Telefon: 77 455 17 69</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item href="https://sport-bike.pl/">
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Sprot-Bike&Ski</h3>
        </ion-text>
        <ion-text>
          <p>Adres: Tysiąclecia 6, 45-462 Opole </p>
          <p>Telefon: 77 455 23 63</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item href="http://rovet.pl/">
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Rovet</h3>
        </ion-text>
        <ion-text>
          <p>Adres: Fabryczna 1, 46-020 Opole</p>
          <p>Telefon:	77 441 27 51</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item href="http://www.roweryokey.pl/">
      <ion-label class="ion-text-wrap">
        <ion-text color="secondary">
          <h3>Roweryokey</h3>
        </ion-text>
        <ion-text>
          <p>Adres: Augustyna Kośnego 41, 46-020 Opole</p>
          <p>Telefon: 77 453 70 50</p>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Serwisy rowerowe
      </ion-label>
    </ion-item-divider>

      <ion-item href="https://bikeopole.pl/">
        <ion-label class="ion-text-wrap">
          <ion-text color="secondary">
            <h3>Super Bike Opole</h3>
          </ion-text>
          <ion-text>
            <p>Adres: Rzeszowska 3, 45-316 Opole</p>
            <p>Telefon:	77 455 19 22</p>
          </ion-text>
        </ion-label>
      </ion-item>
  
      <ion-item href="https://www.rove.pl/">
        <ion-label class="ion-text-wrap">
          <ion-text color="secondary">
            <h3>TOMASZ WYSOCKI ROVE</h3>
          </ion-text>
          <ion-text>
            <p>Niemodlińska 75, 45-864 Opole</p>
            <p>+48 (77) 453 74 58</p>
          </ion-text>
        </ion-label>
      </ion-item>
  
      <ion-item href="http://www.interower.pl/">
        <ion-label class="ion-text-wrap">
          <ion-text color="secondary">
            <h3>Interrower</h3>
          </ion-text>
          <ion-text>
            <p>Adres: Horoszkiewicza 2a, 45-301 Opole</p>
            <p>Telefon: 77 455 38 79</p>
          </ion-text>
        </ion-label>
      </ion-item>
  
      <ion-item href="www.cyklofan.pl">
        <ion-label class="ion-text-wrap">
          <ion-text color="secondary">
            <h3>CykloFan</h3>
          </ion-text>
          <ion-text>
            <p>Adres: św. Sebastiana 5 oficyna, 45-030 Opole</p>
            <p>Telefon:	77 453 91 79</p>
          </ion-text>
        </ion-label>
      </ion-item>
  
      <ion-item href="http://www.roweryokey.pl/">
        <ion-label class="ion-text-wrap">
          <ion-text color="secondary">
            <h3>Roweryokey</h3>
          </ion-text>
          <ion-text>
            <p>Adres: Kośnego 41, 45-056 Opole</p>
            <p>Telefon: 77 453 70 50</p>
          </ion-text>
        </ion-label>
      </ion-item>
    
  
  </ion-list>

</ion-content>
