
:host {
    * {
        font-family: 'Josefin Sans', sans-serif !important;
    }
    
    ion-content {
        --background: white;
    }
  }
  
  .list-form {
    margin: 10px 0 10px 0;
  }
  
  .field {
    color: var(--ion-color-primary);
    margin-left: 10px;
  }
  
  ion-button {
    height: 40px !important;
  }
  
  .auth-content {
    // background-color: white;
    padding: 30px 30px;
    // border-radius: 10px;
  }
  
  .action_button {
    margin-top: 5px;
    text-transform: initial;
    font-weight: bold;
  }
  
  .rules {
    color: var(--ion-color-primary);
    font-size: 10px;
    line-height: 13px;
    text-align: justify;
    z-index: 1000;
  }
  
  ion-checkbox {
    max-height: 20px;
    max-width: 20px;
  }
  